body{
    background-color:#CC0633;
    text-align: center;
}
#pagecontent{
    background-color: transparent;
    color: #CC0633;
    /* border: 2vw solid transparent; */
    border-image-repeat: repeat;
    border-image-slice: 30;
    min-height: 40vh;
    margin: 10vh 10vw;
    padding: 1vw;
}
hr{
    margin: 0;
    border: 0;
    border-radius: 30%;
    height: 10px;
    color: #CC0633;
    background:rgb(221, 221, 221);
}
p{
    font-size: 1.2em;
    margin-bottom: 1vw;

    font-family: 'Open Sans', sans-serif;
}
.title{
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
}
.highlight{
    font-decoration:none;
}
a{
    color: inherit;
}
