  /* Dark mode styles */
/* .dark-switcher {
    color: gray;
    margin-top: 0px;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
  }
  @media (min-width: 992px) {
    .dark-switcher {
      position: absolute;
      right: 15px;
      top: 10px;
    }
  }
  .dark {    background-color: black;
    color: #fff;
    transition: all 0.5s ease;
  }
  .light {
    transition: all 0.5s ease;
    background-color: #fefefe;
  }
  .dark a,
  .dark a:visited {
    color: #fff;
  } */
  body {
    --bg: white;
    --textNormal: #222222;
    --textTitle: #222222;
    --textLink: #EB4888;
  
    background-color: var(--bg);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  body blockquote{
    color: #787878;
  }  

  body.dark {
    -webkit-font-smoothing: antialiased;
    color: #E5E5E6;
    --bg: #282C35;
    --textNormal: #E5E5E6;
    --textTitle: #E5E5E6;
    --textLink: #C989A1;
  }
  body.dark blockquote{
    color: #787878;
  }


  body.dark ::selection {
    color:  #222222;
    background:  #C989A1;
  }

  body ::selection {
    color:   white;
    background:  #EB4888;
  }

  body a:hover {
    text-decoration: none;
  }

  /* body a {
    color: #EB4888;
    text-decoration: none;
  }
  
  body a:hover {
    text-decoration: none;
    color: #ff2b80;
  }
  body.dark a {
    color:  #C989A1;
    text-decoration: none;
    &:before, &:after {
      content: '';
      position: absolute;
      transition: transform .5s ease;
    }
  }
  
  body.dark a:hover {
    color:  #f5a6c0;
    text-decoration: none;
  } */


 /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 2px solid #787878;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: #787878;
    border: 2px solid #787878;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: transparent;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px none;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 30px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .dark-switcher {
    color: gray;
    margin-top: 0px;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
  }
  /* @media (min-width: 512px) {
    .dark-switcher {
      position: absolute;
      right: 15px;
      top: 10px;
    }
  } */

  code {
    white-space : pre-wrap !important;
  }
  .blog-post-content{
      font-size: medium; /*default = medium */
  }
  .blog-post-content a{
    background: linear-gradient(to bottom,0%, 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    text-decoration: none;      
  }
.blog-post-content a:hover{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='grey' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 4px;
    background-repeat: repeat-x;
    text-decoration: none;
  }
.connect a{
    background: linear-gradient(to bottom,0%, 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    text-decoration: none;  
    margin: 10px 10px;    
  }
.connect a:hover{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='grey' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 4px;
    background-repeat: repeat-x;
    text-decoration: none;
  }
.connect{
  display: flex;
  justify-content: center;
  align-items: center;
  }
.bio{
  text-align: justify;
}