.footer {
    color: #787878;
    text-align: center;
    font-size: x-small;
    padding-top: 50px;
}
@media(min-width: 600px){
     .footer{
         /* color: crimson; */
     }   
}
.list li{
    margin-left: 10px;
    font-weight: 550;
}
.layoutDiv{
    font-family: "Inter", "sans-serif";
}
.layoutDiv a:hover {
    text-decoration: none;
}
.layoutDiv{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
main {
	flex-grow: 1
}