.writinglist{
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 0.25fr min-content;
}

@media screen and (max-width: 640px){
.writinglist {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 0px;
    }
}

.writinglist a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 640px){
    .writinglist a {
        margin-top: 15px;
        }
    }

.writinglist p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0em;
}

.writinglist time {
    white-space: pre;
}

.writinglist .timeToRead{
    font-size: small;
    color: grey;
    font-style: italic;
    margin-bottom: 15px;
}

.readinglist{
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr 0.5fr min-content 105px;
    margin-bottom: 15px;
}

@media screen and (max-width: 640px){
.readinglist {
    grid-template-columns: 1fr;
    grid-row-gap: 0px;
    }
}
.readinglist a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.readinglist p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0em;
}

.readinglist time {
    white-space: pre;
    padding-right: 5px;
    /* text-align: right; */
}