.writinglist{
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 0.25fr min-content;
    padding-bottom: 20px;
}

.writinglist a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.writinglist p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: -5px;
}

.writinglist time {
    white-space: pre;
}

.writinglist .timeToRead{
    font-size: small;
    color: grey;
    font-style: italic;
}

.readinglist{
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    grid-template-columns: 1fr 0.75fr min-content 100px;
}

.readinglist a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.readinglist p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.readinglist time {
    white-space: pre;
    padding-right: 20px;
}